# ===========================================================================
# Visual Studio and Add-ons
# ===========================================================================
.idea/
# ===========================================================================
# Bower, Compass, Node
# ===========================================================================
node_modules/
bower_components/
.sass-cache/
# ===========================================================================
# Projec-specific
# ===========================================================================
